<div class="wrapperTransparency">
	<img src="imgs/logo-noback.png" style="float:right; padding-right:30px; padding-top:20px">
	<div style="margin-bottom: 100px"></div>
	<h1>MENU</h1>


	<hr class="larga">




	<div class="row">


		<div class="col-sm-6">
			

			<combinados items=main.ejemplo categoria="Combinados"> </combinados>

			<hr class="corta">

			<combinados items=main.ejemplo categoria="Combinados para chicos"> </combinados>

			<hr class="corta">

			<un-precio items=main.ejemplo categoria="Sashimis"> </un-precio>

			<hr class="corta">

			<un-precio items=main.ejemplo categoria="Bebidas"> </un-precio>

			

			


		</div>
		<div class="col-sm-6" style="padding-right: 40px">
			<div class="left-line">

			

			<dos-precios items=main.ejemplo categoria="Rolls" precio1="4" precio2="8"> </dos-precios>

			<hr class="corta">


			<h2>Rolls Calientes<span class="titulo-doble">x8</span> <span class="titulo-doble">x4 </span> </h2>

			<ul class="list-group">
				<li  ng-repeat="roll in main.ejemplo | filter: {Tipo: 'Rolls Calientes'} :true " > 
					<p>
					<span class="descripcion"> {{roll.Nombre}}  </span>
					<span class="precio-doble">{{roll.Precio_8 | currency}}</span>
					<span class="precio-doble">{{roll.Precio_4 | currency}}</span> <br>
					</p>
				</li>
			</ul>

			</div>
		</div>

	</div>
	<br> 

	<hr class="larga">


	<h2>{{main.kitchen.title}} </h2>
	<p class="segundo-titulo">{{main.kitchen.subtitle}} </p>
	<br>

	<ul class="list-group">
		<li  ng-repeat="item in main.kitchen.descriptions" > 

			<span class="precio-abajo">{{item.precio | currency}}</span>
			<p class="descAbajo1"> {{item.producto}}  </p>
			<p class="descAbajo2">{{item.detalle}}</p> <br>
		</li>
	</ul>



</div>

