h1 ,h2,h3{
color: white !important; 
}

h3{font-size:20px !important; 
}

.transparentContent{
  background:rgba(110,110,110,0.4);
  padding: 30px 0 30px 30px;
}

.darkerTransparentContent{
  background:rgba(25,25,25,0.4);
  padding: 30px 0 30px 30px;
}

div.hr {
width: 100%;
background: #fff  no-repeat scroll center;

}

div.hr hr {
display: none;

}

ul {
	height:10px
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%; 
	/* position: fixed -> tiene pocas páginas y no vale la pena perder pantalla para algo que probablemente no se use (pasar de menu a Sushi San)*/
	
}

li {
    float: left;
}

body { 
  background: url(backgroundimg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
	color: rgb(174, 255, 178);
}

.wrapper {
	min-height: 100%;
	height: 100%;
	margin: 0 auto -4em auto;
	width: 900px;
}

.wrapperFullPage {
	margin: 0 auto -4em auto;
	width: 900px;
	height:980px;
	
}

.footer, .push {

position:relative;
bottom:0;
height: 4em;
color: white;
width: 900px;
text-align:left;
margin: 0 auto 0 auto;
}
/*
footer {
	
	position:absolute;
	bottom:0;
	color: white;
	width: 40%;
	margin-left:30%;
	display: block;
}
*/


hr.styling {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.40), rgba(174, 255, 178, 0.75), rgba(0, 0, 0, 0.40));
	}
	
.derecha
{
 float:right;
 padding-right:25%;
}

.right-line {
  border-right: 1px dashed #EEE;
}


#desc{
float:left;
color: white;
}

#desc2{
float: left;
color: rgb(174, 255, 178);
}

#desc3{
text-align:left;
padding-right:30%;
color: white;
}

#descAbajo2{
text-align:left;
color: white;
}

#descAbajo1{
text-align:left;
color: rgb(174, 255, 178);
}

#precio
{
text-align:right;
color: white;
}

#precio2
{
padding-right:16%;
text-align:right;
color: white;
}

#precio3
{
padding-right:left%;
color: white;
}


div.menu{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    column-count: 3;
}