<div>


	<h2> {{categoria}} 
		<span ng-if= "precio3" ng-class=" precio3 > 9 ? 'titulo-extra' : 'titulo-doble' ">x{{precio3}}</span> 
		<span ng-class=" precio2 > 9 ? 'titulo-extra' : 'titulo-doble' ">x{{precio2}} </span> 
		<span class="titulo-doble">x{{precio1}} </span> 
	</h2>

	<br>

	
	<ul class="list-group">
		<li  ng-repeat="item in items | filter: {Tipo: categoria} :true" > 
			<p>
				<span class="descripcion"> {{item.Nombre}} </span> 
				<span ng-if= "item.Precio_10 != '' " ng-class=" item.Precio_10 > 100 ? 'precio-extra' : 'precio-doble' "> {{item.Precio_10 | currency}} </span>
				<span ng-if= "item.Precio_9 != '' " ng-class=" item.Precio_9 > 100 ? 'precio-extra' : 'precio-doble' "> {{item.Precio_9 | currency}} </span>
				<span ng-if= "item.Precio_8 != '' " ng-class=" item.Precio_8 > 100 ? 'precio-extra' : 'precio-doble' "> {{item.Precio_8 | currency}} </span>
				<span ng-if= "item.Precio_6 != '' " ng-class=" item.Precio_6 > 100 ? 'precio-extra' : 'precio-doble' "> {{item.Precio_6 | currency}} </span>
				<span ng-if= "item.Precio_4 != '' " ng-class=" item.Precio_4 > 100 ? 'precio-extra' : 'precio-doble' "> {{item.Precio_4 | currency}} </span>

			</p>
		</li>
	</ul>
	
</div>