	    
<div class="footer" id ="footer">
	<div class="footerTransparency"> 
		<div class="centrar-footer"> 
			<div class="row">
				<div class="col-sm-4"> 
					<div class="right-line">
					<h3 class="bold">Pedidos</h3> <br>
							<p> Llama al:  4856-8240<br>
								Whatsapp:  15-6444-1805<br> ​<br>  </p>
						
					</div>
					</div> 
					<div class="col-sm-4">
						<div class="right-line"> 
							<h3 class="bold">Local</h3>  <br>
							<p> Vera 390 - Villa Crespo <br>
								C.A.B.A <br>	<br>
							</p>
						</div> 
					</div>
						<div class="col-sm-4"> 
							<h3 class="bold">Horarios</h3> <br>
						<p> Martes a Domingo: 18:30hs a 23:00hs<br> 
							Lunes:   Cerrado 	<br>
							<br>
					</div> 
				</div> 
			</div> 
			<br> <br>
		</div> 
	</div>