<div class="sub-menu">
    <ul class= "nav-menu">
    <li style="float:left"> <a anchor-smooth-scroll="rolls" > Rolls</a> </li>
    <li style="float:left"> <a anchor-smooth-scroll="combinados" href> Combinados</a> </li>
    <li style="float:left"> <a anchor-smooth-scroll="tradicionales" href > Tradicionales</a> </li>
    <li style="float:left"> <a anchor-smooth-scroll="woks" href > Woks</a> </li>
    <li style="float:left"> <a anchor-smooth-scroll="extras" href> Extras</a> </li>


    </ul>

</div>